
      <tr>
        <td><%= chatform.content %></td>
        <td></td>
        <td></td>
        <td><%= link_to 'Show', chatform %></td>
        <td><%= link_to 'Edit', edit_chatform_path(chatform) %></td>
        <td><%= link_to 'Destroy', chatform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  