<%= form_for(@chatform) do |f| %>
  
  <%= render 'shared/error', object: @chatform%>
  <div class="field">
    Reply:<br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <% f.submit %>
  </div>
<% end %>
