<h1>Listing chatforms</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <%= render 'form'%>
  
  <h3>Chat messages (<%= @chatforms.count %>)</h3>
<tbody>
  <%= render @chatforms.order("created_at DESC")%>
</tbody>
</table>
<br />

<%= link_to 'New Chatform', new_chatform_path %>
