<div align="center">
	<h1>Chat on, on  chatapp!</h1>

    <h3>Chat messages (<%= @chatforms.count %>)</h3>
      
      

      <ul id="texts">
       <li> <%= render @chatforms.order("created_at ASC").last(15)%> </li>
      </ul>
  <br />
    <%= render 'form'%>
</div>



<%= subscribe_to "/chatforms" %>

